<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ilinklink.spring_boot.mapper.MemberMapper">

    <insert id="insert" parameterType="com.ilinklink.spring_boot.model.PtMemberInfo">
        INSERT INTO
            pt_member_info(
            Member_ID,
            Member_Uid,
            Agent_Level,
            Agent_Level_UTime,
            Agent_Province,
            Agent_City,
            Agent_Area,
            Active_Code,
            Hicoin_Register,
            Invite_Code,
            Pay_Pwd,
            Pay_Pwd_Salt,
            Pay_Pwd_UTime,
            Member_Account,
            Member_Pwd,
            Member_Pwd_Salt,
            Pwd_UTime,
            Member_Nickname,
            Member_Gender,
            Member_Age,
            Member_Avatar,
            Member_Coupon_Balance,
            Balance_UTime,
            First_Member,
            Acc_Status,
            Acc_Status_UTime,
            Trade_Status,
            Trade_Status_UTime,
            Member_Remove,
            Remove_Time,
            CTime,
            UTime
        )
        VALUES
        (
            #{memberId,jdbcType=VARCHAR},
            #{memberUid,jdbcType=VARCHAR},
            #{agentLevel,jdbcType=INTEGER},
            #{agentLevelUtime,jdbcType=TIMESTAMP},
            #{agentProvince,jdbcType=VARCHAR},
            #{agentCity,jdbcType=VARCHAR},
            #{agentArea,jdbcType=VARCHAR},
            #{activeCode,jdbcType=VARCHAR},
            #{hicoinRegister,jdbcType=INTEGER},
            #{inviteCode,jdbcType=VARCHAR},
            #{payPwd,jdbcType=VARCHAR},
            #{payPwdSalt,jdbcType=VARCHAR},
            #{payPwdUtime,jdbcType=TIMESTAMP},
            #{memberAccount,jdbcType=VARCHAR},
            #{memberPwd,jdbcType=VARCHAR},
            #{memberPwdSalt,jdbcType=VARCHAR},
            #{pwdUtime,jdbcType=TIMESTAMP},
            #{memberNickname,jdbcType=VARCHAR},
            #{memberGender,jdbcType=INTEGER},
            #{memberAge,jdbcType=INTEGER},
            #{memberAvatar,jdbcType=VARCHAR},
            #{memberCouponBalance,jdbcType=INTEGER},
            #{balanceUtime,jdbcType=TIMESTAMP},
            #{firstMember,jdbcType=INTEGER},
            #{accStatus,jdbcType=INTEGER},
            #{accStatusUtime,jdbcType=TIMESTAMP},
            #{tradeStatus,jdbcType=INTEGER},
            #{tradeStatusUtime,jdbcType=TIMESTAMP},
            #{memberRemove,jdbcType=INTEGER},
            #{removeTime,jdbcType=TIMESTAMP},
            #{CTime,jdbcType=TIMESTAMP},
            #{UTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insert2" parameterType="com.ilinklink.spring_boot.model.PtMemberInfo">
        INSERT INTO
            pt_member_info(
            Member_ID,
            Member_Uid,
            Agent_Level,
            Agent_Level_UTime,
            Agent_Province,
            Agent_City,
            Agent_Area,
            Active_Code,
            Hicoin_Register,
            Invite_Code,
            Pay_Pwd,
            Pay_Pwd_Salt,
            Pay_Pwd_UTime,
            Member_Account,
            Member_Pwd,
            Member_Pwd_Salt,
            Pwd_UTime,
            Member_Nickname,
            Member_Gender,
            Member_Age,
            Member_Avatar,
            Member_Coupon_Balance,
            Balance_UTime,
            First_Member,
            Acc_Status,
            Acc_Status_UTime,
            Trade_Status,
            Trade_Status_UTime,
            Member_Remove,
            Remove_Time,
            CTime,
            UTime,
        )
        VALUES
        (
            #{memberId,jdbcType=VARCHAR},
            #{memberUid,jdbcType=VARCHAR},
            #{agentLevel,jdbcType=INTEGER},
            #{agentLevelUtime,jdbcType=TIMESTAMP},
            #{agentProvince,jdbcType=VARCHAR},
            #{agentCity,jdbcType=VARCHAR},
            #{agentArea,jdbcType=VARCHAR},
            #{activeCode,jdbcType=VARCHAR},
            #{hicoinRegister,jdbcType=INTEGER},
            #{inviteCode,jdbcType=VARCHAR},
            #{payPwd,jdbcType=VARCHAR},
            #{payPwdSalt,jdbcType=VARCHAR},
            #{payPwdUtime,jdbcType=TIMESTAMP},
            #{memberAccount,jdbcType=VARCHAR},
            #{memberPwd,jdbcType=VARCHAR},
            #{memberPwdSalt,jdbcType=VARCHAR},
            #{pwdUtime,jdbcType=TIMESTAMP},
            #{memberNickname,jdbcType=VARCHAR},
            #{memberGender,jdbcType=INTEGER},
            #{memberAge,jdbcType=INTEGER},
            #{memberAvatar,jdbcType=VARCHAR},
            #{memberCouponBalance,jdbcType=INTEGER},
            #{balanceUtime,jdbcType=TIMESTAMP},
            #{firstMember,jdbcType=INTEGER},
            #{accStatus,jdbcType=INTEGER},
            #{accStatusUtime,jdbcType=TIMESTAMP},
            #{tradeStatus,jdbcType=INTEGER},
            #{tradeStatusUtime,jdbcType=TIMESTAMP},
            #{memberRemove,jdbcType=INTEGER},
            #{removeTime,jdbcType=TIMESTAMP},
            #{CTime,jdbcType=TIMESTAMP},
            #{UTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--查询会员-->
    <select id="queryMemberExist" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        pt_member_info
        WHERE Member_ID = #{memberId} OR Member_Account=#{memberId}
    </select>
    <!--查询用户 -->
    <select id="queryUser" resultType="com.ilinklink.spring_boot.aop.UserInfo">
        SELECT
        Member_Nickname   userName ,
        Member_ID   userId
        FROM
        pt_member_info
        WHERE Member_ID = #{memberId} OR Member_Account=#{memberId}
    </select>


</mapper>